/* body{
    width: 80%;
    height: 100vh;
    background-color: blac;
    margin: 0;
}

.bigone{
 background-color: black; 
 padding-left:  1px;
 width: 610px;
    margin-left: 600px;
    margin-top: 100px;
    border-radius: 20px;
    
}
.align{
    font-size: 30px;
    background-color: rgb(9, 10, 109);
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.container{
    background-color: black;
    color: wheat;
    margin-left: 10px;
    margin-top: 1px;
    padding: 2px; 
border-radius: 20px;
    height: 90px;
    justify-content: space-between;


}
.LineContainer .line-Count{
    background-color: red;
    width: 80px;
    height: 15px;
    color: white;
    margin-top: 20px;
}
.align2{
    font-size: 30px;
    background-color: rgb(9, 10, 109);
    border-radius: 50%;
    padding: 10px;
    color: white;
}
.Counter-page{
    background-color: black;
    color: wheat;
    margin-left: 3px;
    margin-top: 10px;
    padding: 2px;
    width: 600px;
    height: 600px;
    
    margin-top: 10px;
    
    
}
.Counter-page .hello{
    margin-left: 150px;
    margin-top: 20px;
      background-color: blue;  
    margin-right: 20px;
    height: 480px;
    border-style: solid;
    border-width: 4px;
    border-color: green;
    border-radius: 20px;
    width: 300px;

}
.Counter-page .hello .CountButton{
   margin-top: 2rem; 
   background-color: rgb(0, 255, 42);
   margin-left: 70px;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   
}
.Counter-page .hello .ResetButton{
    margin-top: 4rem; 
    background-color: red;
    height:70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    
 }
 .Counter-page .hello .DisplayCount {
    margin-top: 2rem; 
 
    height: 70px;
display: flex;
justify-content: center;
align-items: center;
    
 }
 .Counter-page .hello .DisplayCount h3{
    width: 200px; 
    background-color: white;
    height: 70px;
display: flex;
justify-content: center;
align-items: center; 
font-size: 26px; 
border: none;
color: black;
border-radius: 15px;
 }
.last{
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}
.last .icon1{
    background-color: rgb(136, 111, 111);
    color: black;
    border-radius: 50%;
    
}.last .icon2{
    background-color: rgb(136, 111, 111);
    color: black;
    border-radius: 50%;
    font-weight: 300; 
}
.last .icon3{
    background-color: rgb(136, 111, 111);
    color: black;
    border-radius: 50%;
    font-weight: 300; 
}
.last button{
    background-color: rgb(136, 111, 111);
    color: black;
    border-radius: 45%;
    font-weight: 900; 
    width: 120px;
    height: 70px;
    font-size: 20px;
    font-style:calc();
} */